*{margin: 0;padding: 0;}
	li{list-style: none;}
	a{text-decoration: none;color: black;}
		#nav{
			width: 100%;
			height: 80px;
			border-bottom: 1px solid gray;
		}
		#logo{
			width: 150px;
			height: 80px;
			text-align: center;
			float: left;
			margin-left:20px; 
		}
		#logo img{
			margin-top: 20px;
			line-height: 80px;
			width: 122px;
			height: 27px;
		}
		 #nav_conent{
			float: right;
		} 
		#nav_conent .nav_List li{
			
			height: 80px;
			line-height: 80px;
			text-align: center;
			float: left;

		}
		#nav_conent .nav_List li a{
			padding: 10px;
		
		}
		#nav_conent .nav_List{
			/*overflow: hidden;*/
			width: 700px;
			/*margin-left: 275px;*/
			float: left;
			

		}
		#nav_conent .nav_List li .detailGoods{
			width: 1263px;
			opacity: 0.6;
			position: absolute;
			top: 58px;
			left: 0px;
			z-index: 50;
			background-color: white;
			text-align: center;
			display: none;
			
		}

		#nav_conent .nav_List li .detailGoods div{
			float: left;
			width: 100px;
			text-align: center;
			padding:20px 0;

		}
		#nav_conent .nav_List li .detailGoods div img{
			width: 60px;
			height: 60px;
			margin-top: 0;

		}
		#nav_conent .nav_List li .detailGoods div p{
			height:30px;

		}
		#seach{
			float: left;
			margin-top: 25px;
			width: 200px;
			height: 30px;
			border: 1px solid #E5E5E5;
			border-radius: 30px;
			margin-left: 30px;
			/*text-indent: 10px;*/
		}
		#seach input{margin-left:10px;height: 30px;outline:none;border:none;}
		#seach span{
			color: #E5E5E5;
		}

		#ren,#shopcar {font-size: 25px;color: #E5E5E5;padding: 10px;display: inline-block;line-height: 70px;}
		/*#seach span{line-height: 15px;}*/
		#seach_icon{font-size: 25px;color: #E5E5E5;}
		#seach input{height: 20px;}
		#seach{width: 220px;}
		 #banner{height: 480px;position: relative;top:78px;left: 0;} 
		
		#banner ul img{height: 480px;position: absolute;left: 0}
		#ren{position: relative;}
		#ren #login{display: none;width: 100px;position: absolute;left: -24px;top: 68px;z-index: 2;border: 1px solid #E5E5E5;text-align: center;background-color: white;}
	#ren #login p {font-size: 12px;color:black;line-height: 30px;}
	#ren #login p a{color:black;}
	#ren #login p a:hover{color: blue;}
	#ren #login p:hover{background-color: #E5E5E5}
	/*#goods,.detailGoods{height: 300px;position: absolute;top: 80px;z-index: 10}*/
 	.play { width: 100%;  height:480px;overflow: hidden;  position: relative; top: -9px; }
ol { position: absolute; right: 45%; bottom: 5px; z-index: 20; }
ol li { float: left; margin-right: 3px; display: inline; cursor: pointer; background: #fcf2cf; border: 1px solid #00c3f5;; padding: 2px; color: #d94b01; font-family: arial; font-size: 12px;border-radius: 100%;width: 8px;height: 8px; }
.active { padding: 3px; font-weight: bold; color: #ffffff; background: #00c3f5;; position: relative; bottom: 2px; }
.imgList{height: 480px;width:100%;z-index: 10;display: block;}
.imgOn{display: block;}
.imgList li{display: none;}

.imgList li img{width:100%;height: 480px;} 
/*sideNav_hideGoods*/
.sideNav{position: absolute;left: 20px;top: 81px;background-color: #F4F3F3;width: 244px;height: 480px;}
.sideNav .sideNav_good{width: 244px;height: 480px;position: absolute;left: 0px;top: 0px;}
.sideNav .sideNav_good li{width: 244px;text-align: center;height: 57px;line-height: 57px;display: block;}
.sideNav .sideNav_good li a{width: 224px;height: 57px;display: inline-block;color: #333; }
.sideNav .sideNav_good li .sideNav_hideGoods{width: 373px;height: 480px;position: absolute;left: 244px;top:0px;background-color: white;display: none;box-shadow: 1px 1px 2px rgba(0,0,0,.1);}
.sideNav .sideNav_good li .sideNav_hideGoods .box img{width: 60px;height: 70px;}
.sideNav .sideNav_good li .sideNav_hideGoods .box span{width:100px;display: inline-block;font-size: 10px;}
.sideNav .sideNav_good li .sideNav_hideGoods .box{float: left;width: 180px;height: 70px;}
.sideNav .sideNav_good li .sideNav_hideGoods .title p{width:371px;height: 30px;margin-top: 5px;}
.sideNav .sideNav_good li .sideNav_hideGoods .title{width: 373px;height: 50px;border-bottom: 1px solid #F4F3F3;overflow: hidden;}

.prive,.next{position: absolute;width: 30px;height: 60px;line-height: 60px;text-align: center;color: #EFEFEF;cursor: pointer;background-color: rgba(0,0,0,0);}
		.prive{top: 50%;left:270px;}
		.prive:hover{background-color: rgba(0,0,0,0.5);}
		.next:hover{background-color: rgba(0,0,0,0.5);}

		.prive strong,.next strong{color: #EFEFEF;font-size: 25px;}
		.next{top: 50%;right:20px; }
#goodsnum{
	position: absolute;
    top: 28px;
   
    right: 11px;
    height: 15px;
    line-height: 15px;
    background-color: #f0415f;
    color: #fff;
    text-align: center;
    border-radius: 10px;
    padding: 0 3px;
    
}
#goodsnum i{font-style: normal;}		
#popwind{
	
	border-radius:8px;
	width:300px;
	height:130px;
	overflow: hidden;
    position: absolute;
    top: 30%;
    left:40%;
    background: #fff;
    z-index: 10;
	display:none;
	text-align:center;
	color:#999999;
	font-size:16px;
	box-shadow:3px 0px 14px 6px rgba(0, 0, 0, 0.1);}
#popwind p:nth-of-type(1){
		margin-top:50px;}
#popwind p:nth-of-type(1) span:nth-of-type(1)		
		{
		display:inline-block;
		border:3px solid #00C3F5;
		border-radius: 50%;
		width:16px;
		margin-right:10px;
		height: 16px;
		color:#00C3F5;
		font-weight:800;
		}
	
	
#popwind p:nth-of-type(2) button{
		
		width:80px;
		height:40px;
		background:#00C3F5;
		border-radius:8px;
		color:white;
		margin:15px 30px;
		outline:none;
		
	}
	

		
