#goodsDetails{

	.nav_p{
		margin:20px 10px 40px 30px;
		a:nth-of-type(1){
			color: #999999;
			margin-right: 10px;

		}
		a:nth-of-type(2){
			margin-left: 10px;	
		}
	}
	#good_wrap{overflow: hidden;}
}
.wrap_left{
	float:left;
	width:475px;
	.phone_pic{
		margin: 25px 50px;
		
		a{
			img{
				width:375px;
				height:375px;

			}
		}
		ul{
		
		overflow: hidden;
		position: absolute;
	    left: 55px;
	    top: 586px;
			li{
				width:87px;
				height:87px;
				float:left;

				a{
					display: block;
					padding: 5px;
					position: relative;
					overflow: hidden;
					text-align: center;
					img{
						width:75px;
						height:75px;
					}
				}
			}
			li:nth-of-type(1){
			border:1px solid #DCDCDC;
			}
		}
		
	}
	.comparison{
		margin-left:40px;
		position: absolute;
    	top: 692px;
		a{
			color:#666666;
			padding:10px;
			i{
			font-size:14px;
			margin-right:10px;
			color:#FFCD3F;
			}
		}
	}
}
.wrap_right{
	float: left;
	width: 675px;
	padding-top: 10px;
	.phoneName{
		h2{
			margin-bottom: 10px;
			font-size: 24px;
			line-height: 1.2;
			font-weight: 400;
			color: #000;
		}
		h4{
			color: #e22841;
			font-size:16px;
			margin-left:0px;
			font-weight:400;
		}
		
	}
	.discount{
		width:675px;
		height:55px;
		margin-top:20px;
		background-color:#F5F5F5;
		
		line-height:55px;
		span:nth-of-type(1){
			color:#666666;
			font-size:14px;
			margin-left:10px;
		}
		span:nth-of-type(2){
			color:#E02B41;
			font-size:24px;
		}
		span:nth-of-type(3){
			text-decoration: line-through;
			color: #999;
			font-size: 12px;
			margin-top: 12px;
			margin-right: 10px;
		}
		span:nth-of-type(4){
			margin-right: 6px;
			font-size: 12px;
			padding: 1px 2px;
			border: 1px solid #00c3f5;
			border-radius: 2px;
			color:#00c3f5;
		}
		span:nth-of-type(5){
			padding-top: 10px;
			margin-left: 5px;
			font-size: 12px;
			color: #999;
		}
		

	}
	.detailInfo{
		color:#666;
		border-bottom: 1px solid #DCDCDC;
		p{margin-top:20px;
			font-size: 14px;
			color:#666;
			a{
				position: relative;
				font-size: 14px;
				padding: 6px 8px;
				max-width:200px;
				margin: 0 6px 6px 6px;
				background-color: #fff;
				white-space: nowrap;
				line-height: 32px;
				border: 1px solid #dcdcdc;
				border-radius: 4px;
				color: #666;
				text-align: center;
				img{
					position: absolute;
					right: 80px;
					width:32px;
					height:32px;
				}
				
			}
		}
		p:nth-of-type(3){
			a{
				width:100px;
				display:inline-block;
			}
		}
		p:nth-of-type(4){
			margin-bottom:30px;
		}
	}
	.detailInfo1{
		color:#666;
		border-bottom: 1px solid #DCDCDC;
		p{margin-top:20px;
			font-size: 14px;
			color:#666;
			a{
				position: relative;
				font-size: 14px;
				padding: 6px 8px;
				max-width:200px;
				margin: 0 6px 6px 6px;
				background-color: #fff;
				white-space: nowrap;
				line-height: 32px;
				border: 1px solid #dcdcdc;
				border-radius: 4px;
				color: #666;
				text-align: center;
				
			}
			i{
				display:inline-block;
				width:16px;
				height:16px;
				border:1px solid #2BCCF9;
				border-radius:50%;
				color:#2BCCF9;
				margin:0 10px; 
			}
		}
		
		p:nth-of-type(3){
			margin-bottom:30px;
		}
	}
	.detailInfo2{
		color:#666;
		
		p{margin-top:20px;
			font-size: 14px;
			color:#666;
			a{
				position: relative;
				font-size: 14px;
				padding: 0px 8px;
				
				margin: 0 6px 6px 6px;
				background-color: #fff;
				white-space: nowrap;
				line-height: 32px;
				border: 1px solid #dcdcdc;
				border-radius: 4px;
				color: #666;
				text-align: center;
				
				
			}

			em{
				display:inline-block;
				width:16px;
				height:16px;
				border:1px solid #2BCCF9;
				border-radius:50%;
				color:#2BCCF9;
				 
			}
		}
		p:nth-of-type(1){
				a{
					display:inline-block;
					width:108px;

					span:nth-of-type(1){
						color:black;
						font-weight:800;
						display:block;
					}
				}
				a:nth-of-type(4){
					border:0px;
				em{
				vertical-align: middle;
					background:#00C3F5;
					color:white;
					margin:0px 10px;

				}

				}

			}
		.amount{
			position: relative;
			left:84px;
			top:-32px;

			height:40px;
				input{
					width:55px;
					height:40px;
					border: 1px solid #dcdcdc;
					border-radius: 2px;
					text-align:center;
				}
				a{
				position: absolute;
				font-size: 14px;

				padding: 0px 8px;
				margin: 0 6px 6px 20px;
				background-color: #fff;
				white-space: nowrap;
				border: 1px solid #dcdcdc;
				border-radius: 2px;
				color: #666;
				text-align: center;
				}
				a:nth-of-type(1){
					top:0px;
				}
				a:nth-of-type(2){
					top:25px;
					padding:0px 10px;
				}

			}
		
	}
}
.btn{
	a{
		width:130px;
		text-align:center;
		padding:10px 0;
		color:#fff;
		font-size:14px;
		margin-left:20px;
		display:inline-block;
		
	}
	a:nth-of-type(1){
		background-color:#F66567;
		border-radius: 4px;
	}
	a:nth-of-type(2){
		background-color:#51C9EF;
		border-radius: 4px;
	}

}
#goodsWarp{
	p{
		margin-top:50px;
		border-bottom: 1px solid #dcdcdc;
		a{
			display: inline-block;
			padding: 0 23px;
			line-height: 59px;
			font-size: 16px;
			color: #333;
			transition: color .3s;
		}
		a:hover{
			color:#00c3f5;
			border-bottom: 2px solid #00c3f5;
		}
	}
}
#goodsWarp{
	
	
	.details_goods{
	display:block;
	margin:30px 20px 0;
		img{
			border-style: none;
			vertical-align: top;
		}
	}
	.parameter{
	margin:30px 20px 0;
		table{
			border-collapse: collapse;
			border-spacing: 0;
			tr{
				border: 1px solid #dcdcdc;
				text-indent: 30px;
				text-align: left;
			}
			
			th{
			
				width: 24%;
				color: #333;
				font-weight: 400;
				padding: 14px 0;
			}
			td{
				background: #fff;
				padding: 10px 40px;
				line-height: 28px;
				color: #999;
				border: 1px solid #dcdcdc;

			}
		}
	}
}
.bgcolor{
	th{
	background: #f4f5f6;
	}
	
}
.problem{
	
	h1{
		position: relative;
		z-index: 2;
		font-size: 18px;
		margin-left:20px;
		color: #00c3f5;
		margin-top:20px;
		
	}
}
.problem_wrap{

	dl{
		padding-top: 30px;
		margin-bottom:-70px;
		border-top: 1px solid #dcdcdc;
		margin-left:20px;
		span{
			color:#E5E5E5;
			font-size:30px;
		}
		dt{
			    position: relative;
			    padding-left: 65px;
			    font-size: 18px;
			   
			    color: #333;
			    top: -35px;

		}
		dd{
			position: relative;
			padding: 15px 0 20px 65px;
			color:#999999;
			top: -48px;

		}
	}
	dl:nth-of-type(1){
		border:0px;
	}
	dl:nth-of-type(9){
		border-bottom: 1px solid #dcdcdc;
	}
}

#box1{
	width: 375px;
    height: 368px;
    position: relative;
    left: 0px;
    top: -7px;
    overflow: hidden;
   
    #mark_box{
		width: 375px;
    	height: 368px;
		position: absolute;
		left: 0;
		top: 0;
		z-index: 10;

	}
	#position_box{
			width: 66px;
			height:66px;
			border-radius: 50%;
			background: #b6b6b6;
			opacity: 0.6;
			position: absolute;
			left: 0;
			top: 0;
			z-index: 1;
			display: none;
	}
}
#bigBox{
			width: 375px;
    		height: 368px;
			overflow: hidden;
			position: relative;
			left: 600px;
			top: -370px;
			display: none;
			z-index:10;
			#bigPic {
				position: absolute;
				left: 0px;
				img{
					width:900px;
					height: 900px; 
				}
			
			}	

		}
#pop_windAdd{
	
	border-radius:8px;
	width:300px;
	height:130px;
	overflow: hidden;
    position: absolute;
    top: 776px;
    background: #fff;
    z-index: 10;
	display:none;
	text-align:center;
	color:#999999;
	font-size:16px;
	box-shadow:3px 0px 14px 6px rgba(0, 0, 0, 0.1);
	p:nth-of-type(1){
		margin-top:20px;
		span:nth-of-type(1){
		display:inline-block;
		border:3px solid #00C3F5;
		border-radius: 50%;
		width:16px;
		margin-right:10px;
		height: 16px;
		color:#00C3F5;
		font-weight:800;
		}
	}
	
	p:nth-of-type(2){
		button{
		width:80px;
		height:40px;
		background:#00C3F5;
		border-radius:8px;
		color:white;
		margin:15px 30px;
		outline:none;
		}
	}
	

}		
