#sideNav_below{
	width:100%;
	height: 140px;
	margin-top: 5px;
	.List{
		
		height:140px;
	.li1{
		a{
			width:122px;
			height:70px; 
			display:inline-block;
			float:left;
			text-align: center;
			i{
				width: 122px;
				height: 26px;
				display:inline-block;
				img{
				width:27px;
				height:27px;
				}
			}
		}
		a:hover{
			opacity:0.6;
		}
	}	
		li{
			background-color: #F9F9F9;
			width: 244px;
			height:140px;
			float: left;
			padding:4px;
			a{
				img{
			width: 244px;
			height:140px;
			}
			}
		
		
		}
		
	}

}
#hot_recommend{
	width:100%;
	height:31px;
	margin-top:40px;
	.hot_p{
		margin-left:10px;
		float:left;
		font-size:24px;
		color:#333;

	}
	.arrows{
		margin-right:5px;
		float:right;
		text-align:center;

		span{
			width:26px;
			height:26px;
			border:1px solid #EFEFEF;
			color:#EFEFEF;
			display:inline-block;
			padding:5px;
			margin-right:10px;
			font-size:26px;
			line-height:26px;
			cursor: pointer;
		}
		span:hover{
		border-color:#00c3f5;
		color:#00c3f5;
		}
	}
}
#hot_goods{
	
	height:340px;
	margin:20px auto;
	overflow:hidden;
	position: relative;
	.hot_goodsUl{
		height:340px;
		margin-left:10px;
		position:absolute;
		left:0;
		top:0;
		
			
		li{
			display: inline-block;
			vertical-align: middle;
			border: 1px solid #EFEFEF;
			width: 247px;
			height:338px;
			margin-right: -2px;
			text-align:center;
		a{
			display:block;
			height:100%;
			padding:0 10px;
			overflow:hidden;
			text-align:center;
			img{
				display: block;
				width: 180px;
				height: 180px;
				margin: 36px auto 0;
			}
			h4{
			    font-size: 14px;
   				 color: #555757;
    			margin-top: 40px;

			}
			h6{
				font-size: 12px;
				color: #fff;
				width:210px;
				margin-left:8px;
				margin-top: 2px;
				background-color: #f14361;
			}
			span{
				padding-right: 2px;
				margin: 0 4px;
				font-size: 14px;
				color:#e02b41;

			}


		}


		}
		li:hover{
		border-color:#BDBDBD;
		z-index: 2;
		transition: border-color .8s,z-index 0s;
		}
	}
}
#banner1{
	width:100%;
	a{	
		margin:30px 10px;
		display:block;
		img{
		width:1240px;
		height:120px;

		}
	}
}

#hot_phone{
	width:100%;
	height:31px;
	padding:30px 0;
	background-color:#F5F5F5; 
	.hot_p{
		float:left;
		font-size:24px;
		color:#333;
		margin-left: 20px;

	}
	a{color: black;}
	.hot_ph_link{
		margin: 5px 30px;
		display:inline-block;
		color: #00c3f5;
		border-bottom: 2px solid #00c3f5;

	}
	.more{
		float: right;
		margin-right:20px;
	}

}


#home_phone_wrap{
	
	
	
	.home_phoneUl{
		
		margin-left:10px;
		position: relative;
			
		li{
			display: inline-block;
			vertical-align: middle;
			background-color: #fff;
			width: 240px;
			height:338px;
			margin:5px 8px;
			margin-right: -2px;
			text-align:center;


		a{
			display:block;
			height:100%;
			padding:0 10px;
			overflow:hidden;
			text-align:center;
			img{
				display: block;
				width: 180px;
				height: 180px;
				margin: 36px auto 0;
			}
			h4{
			    font-size: 14px;
   				 color: #555757;
    			margin-top: 40px;

			}
			h6{
				font-size: 12px;
				color: #fff;
				width:210px;
				margin-left:8px;
				margin-top: 2px;
				background-color: #f14361;
			}
			span{
				padding-right: 2px;
				margin: 0 4px;
				font-size: 14px;
				color:#e02b41;

			}

			}
		}
		li:hover{
		box-shadow: 0 15px 30px rgba(0,0,0,.1);
		top:-3px;
		z-index: 3;
		transition: box-shadow .2s,z-index 0s;
		}
		li:first-child{
			box-shadow:none;

			a{
				img{
					width:240px;
					height: 338px;
					margin-top:0;
					margin-left:-10px;
				}
			}

		}
	}
}

#good{
	background-color: #F5F5F5;
}


#hot_part{
	width:100%;
	height:31px;
	margin-top:40px;
	.hot_p{
		float:left;
		font-size:24px;
		color:#333;
		margin-left: 10px;

	}
	a{color: black;display: inline-block;}
	.hot_ph_link{
		margin-top:10px;
		margin-left: 15px;

		

	}
	.hot_ph_link:hover{
		color: #00c3f5;
		border-bottom: 2px solid #00c3f5;
	}
	.more{
		float: right;
		margin-right:10px;

	}
}


#home_partwrap{
	
	margin-top:30px;
	.home_partUl{
		
		margin-left:10px;
		position: relative;
			
		li{
			display: inline-block;
			vertical-align: middle;
			background-color: #fff;
			width: 240px;
			height:338px;
			margin:5px 8px;
			margin-right: -2px;
			text-align:center;


		a{
			display:block;
			height:100%;
			padding:0 10px;
			overflow:hidden;
			text-align:center;
			
			h4{
			    font-size: 14px;
   				 color: #555757;
    			margin-top: 40px;

			}
			h6{
				font-size: 12px;
				color: #fff;
				width:210px;
				margin-left:8px;
				margin-top: 2px;
				background-color: #f14361;
			}
			span{
				padding-right: 2px;
				margin: 0 4px;
				font-size: 14px;
				color:#e02b41;

			}

			}
		}
		li:hover{
		box-shadow: 0 15px 30px rgba(0,0,0,.1);
		top:-3px;
		z-index: 3;
		transition: box-shadow .2s,z-index 0s;
		}
		
	}
}


#pic{
	width:240px;
	height: 338px;
	margin-top:0;
	margin-left:-20px;
}	
#pic1{
	display: block;
	width: 180px;
	height: 180px;
	margin: 36px auto 0;
}	


#hot_phoneRim{
	width:100%;
	height:31px;
	margin-top:40px;
	.hot_p{
		float:left;
		font-size:24px;
		color:#333;
		margin-left: 10px;

	}
	a{color: black;display: inline-block;}
	.hot_ph_link{
		margin-top:10px;
		margin-left: 15px;

		

	}
	.hot_ph_link:hover{
		color: #00c3f5;
		border-bottom: 2px solid #00c3f5;
	}
	.more{
		float: right;
		margin-right:10px;

	}
}


#home_phoneRim{
	
	margin-top:30px; 
	.home_phoneRimUl{
		
		margin-left:10px;
		position: relative;
			
		li{
			display: inline-block;
			vertical-align: middle;
			background-color: #fff;
			width: 240px;
			height:338px;
			margin:5px 8px;
			margin-right: -2px;
			text-align:center;


		a{
			display:block;
			height:100%;
			padding:0 10px;
			overflow:hidden;
			text-align:center;
			
			
			h4{
			    font-size: 14px;
   				 color: #555757;
    			margin-top: 40px;

			}
			h6{
				font-size: 12px;
				color: #fff;
				width:210px;
				margin-left:8px;
				margin-top: 2px;
				background-color: #f14361;
			}
			span{
				padding-right: 2px;
				margin: 0 4px;
				font-size: 14px;
				color:#e02b41;

			}

			}
		}
		li:hover{
		box-shadow: 0 15px 30px rgba(0,0,0,.1);
		top:-3px;
		z-index: 3;
		transition: box-shadow .2s,z-index 0s;
		}
		
	}
}
#foot_wrap{
	margin-top:10px;
	width: 100%;
	
	color: #999;
	
	background-color: #fff;
	overflow: hidden;

	.foot_wrap1{
		height: 196px;
		border-bottom: 1px solid #999;
		ul{
			width:960px;
			float: left;
			margin: 60px 0 16px;
			li{
				float: left;
				width: 240px;
				margin-bottom: 27px;
				line-height: 30px;
				font-size:14px;
				a{
					display: inline-block;
					color:#999;
					i{
						color:#999;
						font-size:30px;
						padding:5px;
					}
					
				}
			}
		}
	.foot_wrap1-right{
			width:144px;
			margin-top: 65px;
			text-align: right;
			float:right;
			.server{
				margin-bottom: 2px;
				font-size: 12px;
			}
			a{
				font-size: 20px;
				color: #00c3f5;
				margin-bottom:8px;
				display: block;

			}
			.inline_server {
				background-color: #00c3f5;
				width: 144px;
				height: 40px;

				a{
					display: inline-block;
					vertical-align: middle;
					
					color: #fff;
					font-size: 16px;
					border-radius: 3px;
					background-color: #00c3f5;
					.icon{
						vertical-align: middle;
						font-size: 30px;
						margin-right:10px;
					}
					span{
						font-size:16px;
						color: #fff;
						text-align: center;
						line-height: 36px;
					}	
				}
			}
		
		}

	}
	.foot_wrap2{
		margin-top:30px;
		ul{
			overflow:hidden;
			li{
				border-right: 1px solid #EFEFEF;
				float: left;
				a{
					font-size: 12px;
					color: #999;
					padding:0 15px;
					

				}
				
			}
			li:last-child{
					border-right: none;
				}
		}
		.span_left{
			display: inline-block;
			float:left;
			margin-top:20px;
			margin-left: 10px;
			a{
				color: #999;
				height:20px;
				margin-right:2px;
				display: inline-block;
				font-size:12px;
				i{
					display: inline-block;
					width: 16px;
					height: 17px;
				}
  
			}
			a:nth-of-type(7){
				i{
				background-image: url(../images/icon6.png);
				
				}
				i:hover{
					
				background-image: url(../images/icon5.png);
				}
			}
			a:nth-of-type(8){
				i{
					background-image: url(../images/icon7.png);
				}
				i:hover{
					
					background-image: url(../images/icon8.png);
				}
			}
			a:nth-of-type(9){
				i{
					background-image: url(../images/icon10.png);
				}
				i:hover{
					
					background-image: url(../images/icon9.png);
				}
			}
			
		}

		.span_right{
			float:right;
			margin-right:20px;
			i{
				color: #999;
				font-size:25px;
			}
			i:nth-of-type(2){
				position: relative;
				.code{
					display:none;
					img{
						width:180px;
						height:180px;
					}
				}
		
			}
			i:nth-of-type(1):hover{
				color: #ff6c6c;
			}
			i:nth-of-type(2):hover{
				color: #6fc749;
				.code{
					display:block;
					position: absolute;
					bottom: 30px;
					left: -90px;
					padding: 5px;
					background-color: #fff;
					border: 1px solid #efefef;
				}
				
			}
			i:nth-of-type(3):hover{
				color: yellow;
			}
		}
	}

}

#fixed_nav{
	
		position: fixed;
		right: 0;
		bottom: 100px;
		color: #fff;
		z-index: 9999;
		font-weight: 400;
		
		ul{
			width: 50px;
			li{
				height: 50px;
				
				float: left;
				right: 0;
				background-color: #D8D8D8;
				margin-bottom: 1px;
				text-align:center;
				line-height:50px;
				transition: all .3s linear;

			}
			li:nth-of-type(1){
				
				width: 123px;
				position: relative;
				
				
				
				a{	
					color: white;

					span:nth-of-type(1){
						font-size:30px;
						display: inline-block;
						vertical-align: middle;
						width: 50px;
						height: 50px;
						text-align: center;
						
					}
					span:nth-of-type(2){
						
						display: inline-block;
						vertical-align: middle;
						width: 73px;
						overflow: hidden;
						text-overflow: ellipsis;
						word-break: keep-all;
						font-size: 12px;
						text-align: left;

					}
					span:nth-of-type(3){
						position: absolute;
						top: 10px;
						left: auto;
						right: 77px;
						height: 15px;
						line-height: 15px;
						background-color: #f0415f;
						color: #fff;
						text-align: center;
						border-radius: 20px;
						padding: 0 3px;
						transition: left .1s;
						i{
						font-style: normal;
						}

					}
				}
			}
			li:nth-of-type(1):hover{
				background-color: #A39A9A;
				right:73px;
				
				
				a{
					
					span:nth-of-type(3){
						top: 18px;
						right: auto;
						left: 90px;

					}
					
				}
			}
			li:nth-of-type(2){
				position: relative;
				a{
					font-size: 20px;
					padding: 0 10px;
					color: white;

				}
				div{
					display: none;
					position: absolute;
					width: 162px;
					height: 196px;
					background-color: #a39a9a;
					overflow: hidden;
					transition: height .2s linear;
					line-height: normal;
					img{
						width: 145px;
						height: 145px;
						margin:9px;
					}
					p{
						margin-bottom: 16px;
						text-align: center;
						font-size: 12px;

					}
				}
				
			}
			li:nth-of-type(2):hover{
			background-color: #A39A9A;

				div{
					display: block;
					right: 51px;
					top:-146px;
				}
			}
			li:nth-of-type(3){
				position: relative;
				width:133px;
				a:nth-of-type(1){
					width:50px;
					height: 50px;
					line-height:50px;
					text-align:center;
					display: inline-block;
					font-size: 30px;
					color: white;
				}
				a:nth-of-type(2){
					
					display: inline-block;
					font-size:14px;
					width: 73px;
					color:#fff;
				}
			}
			li:nth-of-type(3):hover{
			background-color: #A39A9A;
			right:73px; 
			}
			

		}

}


