.nav_left {
  float: left;
  color: #999999;
  font-size: 14px;
  margin: 30px; }
  .nav_left li {
    float: left; }
    .nav_left li span {
      padding: 0 10px; }
  .nav_left li:nth-of-type(1) {
    color: black; }

.nav_right {
  float: right;
  margin: 30px; }
  .nav_right li {
    float: left; }
    .nav_right li a {
      padding: 0 10px;
      font-size: 12px; }

#shopcar_wrap {
  background-color: #F5F5F5;
  padding-bottom: 40px;
  font-size: 14px; }
  #shopcar_wrap .nav_table {
    height: 50px;
    margin-top: 10px;
    background-color: #fff;
    color: #333;
    border-bottom: 1px solid #EFEFEF; }
    #shopcar_wrap .nav_table tr td {
      width: 220px;
      text-align: left;
      padding-left: 45px; }
    #shopcar_wrap .nav_table tr td:nth-of-type(1) i {
      display: inline-block;
      width: 19px;
      height: 19px;
      background-color: #fff;
      border: 1px solid #BDBDBD;
      border-radius: 2px;
      text-align: center;
      font-size: 10px;
      vertical-align: middle;
      color: #fff; }
    #shopcar_wrap .nav_table tr td:nth-of-type(1) span {
      margin-left: 10px; }
  #shopcar_wrap p, #shopcar_wrap .account {
    height: 50px;
    line-height: 50px;
    background-color: #FAFAFC;
    border-bottom: 1px solid #EFEFEF; }
    #shopcar_wrap p i, #shopcar_wrap .account i {
      display: inline-block;
      margin-left: 45px;
      width: 19px;
      height: 19px;
      background-color: #fff;
      border: 1px solid #BDBDBD;
      border-radius: 2px;
      text-align: center;
      font-size: 10px;
      vertical-align: center;
      vertical-align: middle;
      color: #fff; }
    #shopcar_wrap p span, #shopcar_wrap .account span {
      color: #333;
      margin-left: 10px; }
  #shopcar_wrap .nav_table2 {
    height: 150px;
    background-color: #fff;
    color: #333;
    border-bottom: 1px solid #EFEFEF; }
    #shopcar_wrap .nav_table2 img {
      display: inline-block;
      vertical-align: middle;
      width: 100px;
      height: 100px; }
    #shopcar_wrap .nav_table2 td {
      width: 166px;
      text-align: left;
      padding-left: 42px;
      vertical-align: middle; }
    #shopcar_wrap .nav_table2 td:nth-of-type(1) .cheked {
      display: inline-block;
      width: 19px;
      height: 19px;
      background-color: #fff;
      border: 1px solid #BDBDBD;
      border-radius: 2px;
      text-align: center;
      font-size: 10px; }
    #shopcar_wrap .nav_table2 td:nth-of-type(1) span {
      margin-left: 10px; }
  #shopcar_wrap .account {
    height: 70px;
    line-height: 70px;
    background-color: #fff;
    margin-top: 10px; }
    #shopcar_wrap .account .delete_goods {
      color: #999999; }
    #shopcar_wrap .account #total {
      font-size: 14px;
      font-weight: 700; }
    #shopcar_wrap .account #select {
      color: #1FC3F5;
      font-weight: 700; }
    #shopcar_wrap .account .account_right {
      display: inline-block;
      float: right;
      margin-right: 40px; }
      #shopcar_wrap .account .account_right a {
        border-radius: 4px;
        margin-left: 20px;
        padding: 10px 25px;
        background: #DBDBDB;
        color: #fff; }
      #shopcar_wrap .account .account_right .money_discount {
        color: #E02B41;
        font-size: 14px;
        font-weight: 700; }
      #shopcar_wrap .account .account_right .total_money {
        color: #E02B41;
        font-size: 24px;
        font-weight: 700; }

#goodsDesc span {
  margin-left: -29px; }
#goodsDesc span:nth-of-type(2) {
  color: #999999; }

#goodsPic {
  margin-left: 41px; }
  #goodsPic img {
    margin-top: -29px; }

#goodsPrice {
  font-size: 16px;
  color: #666;
  font-weight: bolder; }

#goodsNumber {
  float: left;
  vertical-align: middle;
  font-size: 24px;
  color: #333;
  border: 1px solid #EFEFEF;
  border-radius: 6px; }
  #goodsNumber button {
    width: 40px;
    height: 40px;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    font-size: 20px;
    outline: none; }
  #goodsNumber button:hover {
    color: #00C3F5; }
  #goodsNumber input {
    width: 58px;
    height: 40px;
    border: 0;
    border-left: 1px solid #EFEFEF;
    border-right: 1px solid #EFEFEF;
    text-align: center;
    outline: none; }

#total_price {
  font-weight: bolder;
  color: #e02b41;
  font-size: 16px; }

#delete {
  color: #BDBDBD; }
  #delete .delete_span {
    display: inline-block;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    border-radius: 50%; }
  #delete .delete_span:hover {
    background: #EFEFEF; }

#reminder {
  text-align: center;
  font-size: 14px;
  display: block;
  width: 100px;
  margin-left: 23px;
  color: #999; }

#pop_windAdd {
  border-radius: 8px;
  width: 300px;
  height: 130px;
  overflow: hidden;
  position: absolute;
  top: 300px;
  left: 45%;
  background: #fff;
  z-index: 10;
  display: none;
  text-align: center;
  color: #999999;
  font-size: 16px;
  box-shadow: 3px 0px 14px 6px rgba(0, 0, 0, 0.1); }
  #pop_windAdd p:nth-of-type(1) {
    margin-top: 20px;
    text-align: center; }
  #pop_windAdd p:nth-of-type(2) button {
    width: 80px;
    height: 40px;
    background: #00C3F5;
    border-radius: 8px;
    color: white;
    margin: 15px 30px;
    outline: none; }

/*# sourceMappingURL=shopCar.css.map */
